<link rel='stylesheet' href='/css/webchat.css' />
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="//momentjs.com/downloads/moment-with-locales.js"></script>

<div id="container" class="container">
    <div id="user" class="row">
        <div id="userdata" class="col">
            <div class="row mt-4" style="height: 80px;">
                <div class="col-8">
                    <h4 id="username">PollitoMuertoWeb</h4>
                </div>
                <div class="col">
                    <div id="options" class="row align-items-end" style="height:99px;">
                        <div class="col d-flex justify-content-end" >
                            <div id="modalCreateGroup" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-heading-bullet">Crear grupo</h2>
                                    <form action="/chat/creategroup" method="POST">
                                        <div class="form-group mt-4">
                                            <label for="exampleInputEmail1">Escribe el nombre del grupo</label>
                                            <input type="text" class="form-control mt-2" name='namegroup'>
                                        </div>
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                                            <button class="uk-button uk-button-primary" type="submit">Crear</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <div class="col d-flex align-items-end">
                                 <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: #modalCreateGroup">Crear grupo</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col d-flex align-items-end">
                                <button class="uk-button uk-button-default uk-button-small">Buscador</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="col d-flex align-items-end">
                                <button class="uk-button uk-button-default uk-button-small">Configuración</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="actions">
                &nbsp
            </div>
        </div>
    </div>
    <div class="row">
        <div id="groupsPanel" class="col-6">
            
        </div>
        <div class="vl" style="background-color: black;width:3px"></div>
        <div class="col-4">
            <h3>Conectados</h3>
            <div id="friendsPanel" class="row">
                
            </div>
        </div>
    </div>
</div>
<script>
    var friendsPanel = document.getElementById('friendsPanel');
    var groupsPanel = document.getElementById('groupsPanel');
    $.get("/user/getfriends", data => {
        console.log(data.friends)
        if (data.status) {
            $.each(data.friends, function() {
                friendsPanel.innerHTML += 
                    '<div class="col-3">' +
                        '<img src="' + this.avatar + '" class="avatarImg" alt="wow">' +
                    '</div>' +
                    '<div class="col-7">' +
                        '<div class="row d-flex align-items-center" style="height:30%;"> ' +
                            '<a href="/chat/searchchatfriend/' + this._id +'">'+ this.username + '</a>' +
                            //'<small class="uk-text-muted"> &nbsp&nbsp&nbsp&nbsphace ' + convertUntilNow(message.createdAt) + '</small>' +
                        '</div>' +
                    '</div>'
                    /*'<div class="col">' +
                        '<img src="' + this.avatar + '" class="avatarImg" alt="wow">' +
                        '<a href="http://localhost:3000/chat/searchchatfriend/' + this._id +'">'+ this.username + '</a>' +
                        ' &nbsp&nbsp&nbsp&nbsp&nbspÚltima vez conectado: '+
                    '</div>'*/
            })
        } else {
            friendsPanel.innerHTML += data.message
        }
    });

    $.get("/user/getgroups", data => {
        if (data.status) {
            $.each(data.groups, function() {
                groupsPanel.innerHTML += 
                    '<div class="row">'+
                        '<div class="col" style= "max-width: 80px">'+
                            '<img src="' + this.avatar + '" class="avatarImg" alt="wow">'+
                        '</div>'+
                        '<div class="col" style="margin-left: -10px">'+
                            '<div class="row">'+
                                '<a href="/chat/searchchatgroup/' + this._id + '">' + this.name + '</a>'+
                            '</div>'+
                            '<div class="row">' +
                                'Integrantes:' + $.each(this.users, function() {
                                    this.username
                                }) +
                            '</div>'+
                            '<div class="row">'+
                                'Último mensaje: '+ this.messages[this.messages.length - 1].message +
                            '</div>'+
                        '</div>'+    
                    '</div>'
            })
        } else {
            groupsPanel.innerHTML += data.message
        }
    });
</script>