<link rel='stylesheet' href='/css/webchat.css' />
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script src="//momentjs.com/downloads/moment-with-locales.js"></script>
<div id="container" class="container">
    <div id="user" class="row">
        <div id="userdata" class="col">
            <div class="row" style="height: 50px;">
                <div class="col-8">
                    <h4 id="username" style="color: white;">PollitoMuertoWeb</h4>
                </div>
                <div class="col">
                    <div id="options" class="row">
                        <div class="col" >
                            <div id="modalCreateGroup" uk-modal>
                                <div class="uk-modal-dialog uk-modal-body">
                                <h2 class="uk-heading-bullet">Crear grupo</h2>
                                <form action="/chat/creategroup" method="POST">
                                    <div class="form-group mt-4">
                                        <label for="exampleInputEmail1">Escribe el nombre del grupo</label>
                                        <input type="text" class="form-control mt-2" name='namegroup'>
                                    </div>
                                    <p class="uk-text-right">
                                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                                        <button class="uk-button uk-button-primary" type="submit">Crear</button>
                                    </p>
                                </form>
                                </div>
                            </div>
                            <li>
                                <a>
                                    <button class="uk-button uk-button-default text-white" uk-toggle="target: #modalCreateGroup">Crear grupo
                                    </button>
                                </a>
                            </li>
                        </div>
                        <div class="col">
                            Buscador
                        </div>
                        <div class="col">
                            Configuracion
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="actions">
                &nbsp
            </div>
        </div>
    </div>
    <div class="row">
        <div id="groupsPanel" class="col-4">
            "(foto)" grupo 1 <br> integrantes: tachancka, erick, donpepepizzeria <br>"(mensajes)"erick dijo: soy rep uto<br><br> 
            "(foto)" grupo 2 <br> integrantes: tachancka, erick, donpepepizzeria <br>"(mensajes)"erick dijo: soy rep uto<br><br>
            "(foto)" grupo 3 <br> integrantes: tachancka, erick, donpepepizzeria <br>"(mensajes)"erick dijo: soy rep uto<br><br>
        </div>
        <div class="col-8" style="background-color: #3c3f62;">
            <div id="friendsPanel" class="row">

            </div>
            <div class="row">
                <img src="/img/logo.jpg" alt="50%" width="50%" height="50%" style="margin-left: 250px;">
            </div>
        </div>
    </div>
    

    <div id="modalAddfriends" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-heading-bullet">Crear grupo</h2>
            <form id="friendList" action="/chat/creategroup" method="POST">
            
            </form>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="submit">Crear Grupo</button>
            </p>
        </div>
    </div>
    <li>
        <a>
            <button class="uk-button uk-button-default text-black" uk-toggle="target: #modalCreateGroup">asd
                HOALTODOOBEIN
             </button>
        </a>
    </li>
</div>

<script>
    var friendsPanel = document.getElementById('friendsPanel');
    var friendList = document.getElementById('friendList');
    var groupsPanel = document.getElementById('groupsPanel');
    $.get("http://localhost:3000/user/getfriends", data => {
        if (data.status) {
            $.each(data.friends, function() {
                friendsPanel.innerHTML += 
                    '<div class="col">' +/*
                        '<img src=' + this.avatar + 'class="avatarImg" alt="wow">' +*/ 
                        '<a href="http://localhost:3000/chat/searchchatfriend/' + this._id +'">'+ this.username + '</a>' +
                        ' &nbsp&nbsp&nbsp&nbsp&nbspultima vez conectado: '+
                    '</div>'
                friendList.innerHTML +=
                    '<div class="row">'+
                        '<div class="col-10">'
                            + this.username +
                        '</div>'+
                        '<div class="col-2">'+
                            '<button type="submit" class="btn btn-secundary" style="background-color: #666666;color: white;"'+
                            'role="registro" onclick="hola()">Enviar</button>'+
                        '</div>'+
                    '</div>'
            })
        } else {
            friendsPanel.innerHTML += data.message
        }
    });

    $.get("http://localhost:3000/user/getgroups", data => {
        console.log(data)
        if (data.status) {
            $.each(data.groups, function() {
                groupsPanel.innerHTML += 
                    '<a href="http://localhost:3000/chat/searchchatgroup/' + this._id + '">'+ this.name + '</a>'
            })
        } else {
            groupsPanel.innerHTML += data.message
        }
    });

    function hola(){
        console.log(document.getElementById('defaultCheck1').checked)
        console.log(document.getElementById('defaultCheck1').value)
      
    }
</script>