<link rel='stylesheet' href='/css/index.css' />

<div class="mt-5" style="text-align: center;">
    <h1>Parches</h1>
    <div class="container">
        <div class="row">
            <p>Con Parches vas a poder comunicarte con tus conocidos de la manera mas facil. <br>Mensajeate con
                cualquier persona gracias a nuestro sistema multi-chat con el que seraz capaz de hablar con hasta cuatro
                personas en silmuntáneo.</br>Disfruta de nuestro servicio de forma totalmente gratuita ahora mismo, o
                descarga nuestra aplicación para escritorio.</p>
        </div>che pibe deja de matar todo
        <div class="row d-flex justify-content-center">
            {{#unless username}}
            <a href="/user/login"><button class="uk-button uk-button-default" onclick="loginAlert()">Empezar a chatear</button></a>
            {{/unless}}
            {{#if username}}
            <a href="/chatindex"><button class="uk-button uk-button-default">Empezar a chatear</button></a>
            {{/if}}
            <a href=""><button class="uk-button uk-button-default">Descargar app</button></a>
        </div>
    </div>
</div>
<script>
    function loginAlert() {
        alert("Para usar Parches debes iniciar sesión");
    }
</script>