<div style="text-align: center;">
    <h1>Pollito muerto</h1>
    <div style="margin-top: 20px;height: 200px">
        <p>Con Pollito Muerto vas a poder comunicarte con tus conocidos de la manera mas facil. <br>Mensajeate con
            cualquier persona gracias a nuestro sistema multi-chat con el que seraz capaz de hablar con hasta cuatro
            personas en silmuntáneo.</br>Disfruta de nuestro servicio de forma totalmente gratuita ahora mismo, o
            descarga nuestra aplicación para escritorio.</p>
        <a href="#" class="btn btn btn-lg active" role="button" aria-pressed="true" style="background-color: rgb(49, 49, 49);color:white">PollitoMuertoWeb</a>
        <a href="#" class="btn btn btn-lg active" role="button" aria-pressed="true" style="background-color: rgb(49, 49, 49);color:white">Descargar aplicación</a>
    </div>
    <h3>
        Ahora paga hijo de re mil puta
        paga porque no vas a 
    </h3>
</div>