<div style="text-align: center;">
    <h1>Pollito muerto</h1>
    <div style="margin-top: 20px;height: 200px">
        <p>Con Pollito Muerto vas a poder comunicarte con tus conocidos de la manera mas facil. <br>Mensajeate con
            cualquier persona gracias a nuestro sistema multi-chat con el que seraz capaz de hablar con hasta cuatro
            personas en silmuntáneo.</br>Disfruta de nuestro servicio de forma totalmente gratuita ahora mismo, o
            descarga nuestra aplicación para escritorio.</p>
        <a href="#" class="btn btn btn-lg active" role="button" aria-pressed="true"
            style="background-color: rgb(49, 49, 49);color:white">PollitoMuertoWeb</a>
        <a href="#" class="btn btn btn-lg active" role="button" aria-pressed="true"
            style="background-color: rgb(49, 49, 49);color:white">Descargar aplicación</a>
    </div>
    <h3>
        Ahora paga hijo de re mil puta
        paga porque no vas a
    </h3>
    <div class="row">
        <div class="col" style="text-align: right;">
            <img src="/images/discord1.PNG" alt="50%" width="60%" height="60%">
        </div>
        <div class="col" style="text-align: left;">
            <img src="/images/discord1.PNG" alt="50%" width="60%" height="60%">
        </div>
    </div>
    <div class="row" style="background-color: rgb(41, 41, 41);margin-top:30px;">
        <div class="card mb-3" style="max-width: 1300px;margin-left:315px;margin-top:30px;background-color:rgb(40, 0, 61);">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="/images/bob.jpg" alt="50%">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">Chats multiples</h5>
                        <p class="card-text" style="color:white">Comparte charlas, audios, videos o archivos con multiples personas silmuntaneamente! Aprovecha esta útil función para estar en contacto y sin miedo de perderte ningún comentario.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: rgb(53, 53, 53);">
        <div class="card mb-3" style="max-width: 1300px;margin-left:315px;margin-top:30px;background-color:rgb(59, 2, 90);">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="/images/bob.jpg" alt="50%">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">Rapido y seguro</h5>
                        <p class="card-text" style="color:white">Conectate con el mundo de la forma mas facil y rápida. Con Pollito Muerto podrás chapotear re velozmente y muy seugro si si</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: rgb(61, 61, 61);">
        <div class="card mb-3" style="max-width: 1300px;margin-left:315px;margin-top:30px;background-color:rgb(77, 3, 117);">
            <div class="row no-gutters">
                <div class="col-4">
                    <img src="/images/bob.jpg" alt="50%">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title" style="color:white">Rapido y seguro</h5>
                        <p class="card-text" style="color:white">Conectate con el mundo de la forma mas facil y rápida. Con Pollito Muerto podrás chapotear re velozmente y muy seugro si si</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>