<link rel='stylesheet' href='/css/webchat.css' />
<script src="/socket.io/socket.io.js"></script>
<script src="webchat.js" charset="utf-8"></script>
<div id="container" class="container">
    <div id="contact" class="row">
        <div class="col" style="background-color: red;">
            ERICK
        </div>
    </div>
    <form id="form" class="container">
        <div id="chat" class="row">
            <div id="messages">
                
            </div>
        </div>
        <div class="row" style="background-color: yellow;">
            <input id="message" class="form-control" placeholder="Your Message Here"></input>
            <button id="send" class="btn btn-success">Send</button>
        </div>
    </form>
    <div id="friendsOne" class="row">
        <div class="col" style="background-color: red;">
            don pepe  pizzeria
        </div>
        <div class="col" style="background-color: blue;">
            tachancka
        </div>
    </div>
    <div id="friendsTwo" class="row">
        <div class="col" style="background-color: rgb(255, 0, 255);">
            jose mantas
        </div>
        <div class="col" style="background-color: rgb(0, 132, 255);">
            parches
        </div>
    </div>
    <div id="options" class="row">
        <div class="col-8" style="background-color: rgb(246, 139, 139);">
            joshmicuca
        </div>
        <div class="col-1" style="background-color: blue;">
            opcion 1 
        </div>
        <div class="col-1" style="background-color: rgb(0, 255, 191);">
            opcion 2 
        </div>
        <div class="col-1" style="background-color: rgb(119, 0, 255);">
            opcion 3 
        </div>
        <div class="col-1" style="background-color: rgb(255, 0, 119);">
            configuracion
        </div>

    </div>
</div>
<script>
    var socket = io();
    var form = document.getElementById('form');
    var input = document.getElementById('message');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('chat:message', input.value);
            input.value = '';
        }
    });

    socket.on('chat:message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
  });
    /* esto no se de donde salio ni se si es mejor o peor se queda aca hasta nuevo aviso
    socket.on('message', addMessages)
        $(() => {
            $("#send").click(() => {
                sendMessage({
                    message: $("#message").val()
                });
            })
            getMessages()
        })

        function addMessages(message) {
            $('#messages').append(`
        <h4> ${message.name} </h4>
        <p>  ${message.message} </p>`)
        }

        function getMessages() {
            $.get('http://localhost:3000/webchat/messages', (data) => {
                data.forEach(addMessages);
            })
        }

        function sendMessage(message) {
            $.post('http://localhost:3000/webchat/messages', message)
        }*/
</script>