<link rel='stylesheet' href='/css/webchat.css' />
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<div id="container" class="container">
    <div id="contact" class="row">
        <div class="col" style="background-color: red;">
            ERICK
        </div>
    </div>
    <div id="text" class="container">
        <div id="chat" class="row">
            <div id="messages">
                
            </div>
        </div>
        <div class="row" style="background-color: yellow;">
            <textarea id="message" class="form-control" placeholder="Your Message Here"></textarea>
            <button id="send" class="btn btn-success">Send</button>
        </div>
    </div>
    <div id="friendsOne" class="row">
        <div class="col" style="background-color: red;">
            don pepe  pizzeria
        </div>
        <div class="col" style="background-color: blue;">
            tachancka
        </div>
    </div>
    <div id="friendsTwo" class="row">
        <div class="col" style="background-color: rgb(255, 0, 255);">
            jose mantas
        </div>
        <div class="col" style="background-color: rgb(0, 132, 255);">
            parches
        </div>
    </div>
    <div id="options" class="row">
        <div class="col-8" style="background-color: rgb(246, 139, 139);">
            joshmicuca
        </div>
        <div class="col-1" style="background-color: blue;">
            opcion 1 
        </div>
        <div class="col-1" style="background-color: rgb(0, 255, 191);">
            opcion 2 
        </div>
        <div class="col-1" style="background-color: rgb(119, 0, 255);">
            opcion 3 
        </div>
        <div class="col-1" style="background-color: rgb(255, 0, 119);">
            configuracion
        </div>

    </div>
</div>
<script>
    src="/socket.io/socket.io.js"
    var socket = io();

socket.on('message', addMessages)
    $(() => {
        $("#send").click(() => {
            sendMessage({
                message: $("#message").val()
            });
        })
        getMessages()
    })

    function addMessages(message) {
        $('#messages').append(`
      <h4> ${message.name} </h4>
      <p>  ${message.message} </p>`)
    }

    function getMessages() {
        $.get('http://localhost:3000/webchat/messages', (data) => {
            data.forEach(addMessages);
        })
    }

    function sendMessage(message) {
        $.post('http://localhost:3000/webchat/messages', message)
    }
</script>