<link rel='stylesheet' href='/css/webchat.css' />
<script src="/socket.io/socket.io.js"></script>
<script src="webchat.js"></script>
<div id="container" class="container">
    <div id="user" class="row">
        <div id="userdata" class="col">
            <div class="row">
                <h4 id="username" style="color: white;">{{username}}</h4>
            </div>
            <div class="row" id="actions">

            </div>
        </div>
    </div>
    <form id="form" class="container">
        <div id="chat" class="row">
            <div id="messages">
                
            </div>
        </div>
        <div class="row">
            <input id="message" class="form-control" placeholder="Your Message Here"></input>
            <button id="send" class="btn btn-success">Send</button>
        </div>
    </form>
    <div id="friendsOne" class="row">
        <div class="col">
            don pepe  pizzeria
        </div>
        <div class="col">
            tachancka
        </div>
    </div>
    <div id="friendsTwo" class="row">
        <div class="col">
            jose mantas
        </div>
        <div class="col">
            parches
        </div>
    </div>
    <div id="options" class="row">
        <div class="col-8">
            joshmicuca
        </div>
        <div class="col-1">
            opcion 1 
        </div>
        <div class="col-1" >
            opcion 2 
        </div>
        <div class="col-1">
            opcion 3 
        </div>
        <div class="col-1">
            configuracion
        </div>

    </div>
</div>
<script>
    var socket = io();
    var username = $("#username").text()
    var form = document.getElementById('form');
    var message = document.getElementById('message');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (message.value) {
            socket.emit('message', {
                message: message.value, 
                username: username
            });
            message.value = '';
        }
    });

    message.addEventListener('keypress', function(){
        socket.emit('typing', username)
    });

    socket.on('typing', function(data) {
        actions.innerHTML = '<p><em style="color: white">' + data + ' esta escribiendo</em></p>'
    });

    socket.on('message', function(data) {
        actions.innerHTML = "";
        messages.innerHTML += '<p>' + data.username + " dice: " + data.message + '</p>';
    });

    /*
    $.get("http://localhost:3000/user/userlogged", function (data) {
        var usernamedos = data.username 
        console.log("SOS UN RE HIJO DE REM IL PUT")
        console.log(username)
        console.log(usernamedos)
    });

    socket.on('userconnection', function(username) {
        var item = document.createElement('li');
        item.textContent = "El usuario " + username + " se ha conectado"
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });

    socket.on('userdisconnection', function(username) {
        var item = document.createElement('li');
        item.textContent = "El usuario " + username + " se ha desconectado"
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });*/

    /* esto no se de donde salio ni se si es mejor o peor se queda aca hasta nuevo aviso
    socket.on('message', addMessages)
        $(() => {
            $("#send").click(() => {
                sendMessage({
                    message: $("#message").val()
                });
            })
            getMessages()
        })

        function addMessages(message) {
            $('#messages').append(`
        <h4> ${message.name} </h4>
        <p>  ${message.message} </p>`)
        }

        function getMessages() {
            $.get('http://localhost:3000/webchat/messages', (data) => {
                data.forEach(addMessages);
            })
        }

        function sendMessage(message) {
            $.post('http://localhost:3000/webchat/messages', message)
        }*/
</script>