<link rel='stylesheet' href='/css/web.css' />
<div id="container" class="container">
    <div id="contact" class="row">
        <div class="col" style="background-color: red;">
            fsd
        </div>
        <div class="col" style="background-color: blue;">
            ds
        </div>
    </div>
    <div id="text" class="row">
        <div class="col" style="background-color: yellow;">
            fsd
        </div>
        <div class="col" style="background-color: rgb(0, 255, 21);">
            ds
        </div>
    </div>
    <div id="friendsOne" class="row">
        <div class="col" style="background-color: red;">
            fsd
        </div>
        <div class="col" style="background-color: blue;">
            ds
        </div>
    </div>
    <div id="friendsTwo" class="row">
        <div class="col" style="background-color: rgb(255, 0, 255);">
            fsd
        </div>
        <div class="col" style="background-color: rgb(0, 132, 255);">
            ds
        </div>
    </div>
    <div id="options" class="row">
        <div class="col-8" style="background-color: rgb(246, 139, 139);">
            fsd
        </div>
        <div class="col-1" style="background-color: blue;">
            ds
        </div>
        <div class="col-1" style="background-color: rgb(0, 255, 191);">
            fsd
        </div>
        <div class="col-1" style="background-color: rgb(119, 0, 255);">
            ds
        </div>
        <div class="col-1" style="background-color: rgb(255, 0, 119);">
            fsd
        </div>

    </div>
</div>
<div class="container">
    <br>
    <div class="jumbotron">
        <h1 class="display-4">Send Message</h1>
        <br>
        <input id="name" class="form-control" placeholder="Name">
        <br>
        <textarea id="message" class="form-control" placeholder="Your Message Here">
</textarea>
        <br>
        <button id="send" class="btn btn-success">Send</button>
    </div>
    <div id="messages">

    </div>
</div>
<script>
    $(() => {
        $("#send").click(() => {
            sendMessage({
                name: $("#name").val(),
                message: $("#message").val()
            });
        })
        getMessages()
    })

    function addMessages(message) {
        $('#messages').append(`
      <h4> ${message.name} </h4>
      <p>  ${message.message} </p>`)
    }

    function getMessages() {
        $.get('http://localhost:3000/webchat/messages', (data) => {
            data.forEach(addMessages);
        })
    }

    function sendMessage(message) {
        $.post('http://localhost:3000/webchat/messages', message)
    }
</script>