#container{
    margin-top: 50px;
    max-width: 1600px;
    height: 1000px;
    color:white;
}
#user{
    height: 80px;
}
#userdata{
    background-color: rgb(49, 49, 49);
}
#form{
    background-color: #3c3f62;
    vertical-align:text-bottom;
    height: 550px;
    max-width: 1600px; 
    padding-left: 0px; 
    padding-right: 0px;
}
#chat{
    background-color: #3c3f62;
    color: white;
    height: 500px;
    overflow: scroll;
}
#messages{
    height: 400px;
}
#message{
    width: 96.1%; 
    height: 50px;
}
#friendsOne, #friendsTwo{
    height: 100px;
    background-color: #3c3f62;
    border-color: red;
}
#options{
    background-color: rgb(49, 49, 49);
    height: 50px;
}