<form action="/user/register" method="POST" style="padding-left: 600px;padding-top: 50px;width: 1300px;">
  <h2 style="text-align: center;">Registro</h2>
  <div class="form-row" style="margin-top: 30px;">
    <div class="form-group col-md-6">
      <label for="validationServer01">Nombre de usuario</label>
      <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contraseña</label>
      <input type="password" class="form-control" name="password" id="password" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Correo electrónico</label>
    <input type="email" class="form-control" name="email" placeholder="ejemplo@hotmail.com" id="email" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputCity">Pais</label>
      <input type="text" class="form-control" name="country" id="country" required>
    </div>
    <div class="form-group col-md">
      <label for="inputState">Sexo</label>
      <select name="gender" class="form-control" id="gender">
        <option>Hombre</option>
        <option>Mujer</option>
        <option>Otro</option>
      </select>
    </div>
    <div class="md-form md-outline input-with-post-icon datepicker">
      <label for="example">Fecha de nacimiento</label>
      <input placeholder="Select date" type="date" id="example" name="date" class="form-control" id="date" required>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" required>
      <label class="form-check-label" for="gridCheck">
        No soy un robot
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-secundary" style="background-color: #666666;color: white;"
    role="registro" onclick="clickRegister()">Registrarse</button>
</form>
<div style="padding-top: 30px;text-align: center;color: white;">
  <h3>¿Ya tienes una cuenta? <a class="btn btn-secundary" style="background-color: #666666;color: white;"
      href="http://localhost:3000/user/login/" role="Ingresar">Ingresa ahora!</a> </h3>
</div>
<hr style="height: 21vh;border-color:white">
